{% extends 'base.html' %}

{% block header %}
  <h3 class="m-3">{% block title %}New Post{% endblock %}</h3>
{% endblock %}

{% block content %}
  <form method="post">
    <div class="m-3">
      <label
	for="title"
	class="form-label">
	Title
      </label>
      <input
	name="title"
	class="form-control"
	id="title"
	value="{{ request.form['title'] }}" required>
    </div>
    <div class="m-3">
      <label for="body" class="form-label">Body
      </label>
      <textarea name="body" id="body" class="form-control">{{ request.form['body'] }}</textarea>
    </div>
    <div class="m-3">
      <input type="submit" class="btn btn-primary" value="Save">
    </div>
  </form>
{% endblock %}
