{% extends 'base.html' %}

{% block header %}
  <h3 class="m-3">{% block title %}Tasks{% endblock %}</h3>
  {% if g.user %}
    <a class="btn btn-primary m-3" href="{{ url_for('task.create') }}">New</a>
  {% endif %}
{% endblock %}


    {% block content %}
    <div class="accordion m-3" id="task_accordion">
    {% for task in tasks %}
    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ task['id'] }}" aria-expanded="false" aria-controls="{{ task['id'] }}">
          <strong>#{{ task['id'] }} {{ task['title'] }}</strong>
      </button>
    </h2>
    <div id="{{ task['id'] }}" class="accordion-collapse collapse" data-bs-parent="#ttask_accordion">
      <div class="accordion-body">
        <small>by {{ task['username'] }} on {{ task['created_at'].strftime('%Y-%m-%d') }}</small>
        <hr>
        <p><b>Due at:</b> {{ task['due_at']}}</p>
        <label><b>Description:</b></label>
	      <p>{{ task['description'] }}</p>
        {% if g.user['id'] == task['owner_user_id'] %}
          <a class="btn btn-warning" href="{{ url_for('task.update', id=task['id']) }}">Edit</a>
        {% endif %}
      </div>
    </div>
    </div>    
    {% endfor %}
    </div>
    {% endblock %}
    
      
