{% extends 'base.html' %}

{% block header %}
  <h3 class="m-3">{% block title %}Register{% endblock %}</h3>
{% endblock %}

{% block content %}
  <form method="post">
    <div class="m-3">
      <label for="username" class="form-label">Username</label>
      <input name="username" id="username" class="form-control" required>
    </div>
    <div class="m-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" name="password" id="password" class="form-control" required>
    </div>
    <input type="submit" class="btn btn-primary m-3" value="Register">
  </form>
{% endblock %}
